// pretty much whenever the browsers width is less than 700px this stuff will kick in
@media (max-width: 700px) {
    .hide-sm {
        display: none;
    }

    //Container
    .container {
        margin-top: 8rem;
    }

    // Text Styles
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    // Navbar
    .navbar {
        display: block;
        text-align: center;

        ul {
            text-align: center;
            justify-content: center;
        }        
    }

    .dash-buttons a {
        display: block;
        width: 100%;
        margin-bottom: .2rem;
    }

    // Profiles
    .profile {
        // making it so that everything is on one column looks nicer
        grid-template-columns: 1fr;
        text-align: center;

        // hide the skills section
        ul {
            display: none;
        }
    }


    // chaning the orientation of the profile to look nicer
    .profile-grid {
        grid-template-areas: 
        'top' 
        'about'
        'exp'
        'edu'
        'github';
    }

    .profile-about {
        // changing the skills to a column from row so that it doesnt go off the scren
        .skills {
            flex-direction: column;
        }
    }

    // fixing the posts
    .post {
        grid-template-columns: 1fr;

        a, button {
            padding: 0.3rem 0.4rem;
        }
    }

}